body{
	
	font-family: 'Oxygen', sans-serif;
	background: lemonchiffon !important;

}

#header-nav{
	background-color: peachpuff;
	border-radius: 0;
	border: 0;

    font-weight: bold;

}

button{
	margin-top: 10px !important;
}
#nav-list a{
      text-align: center; 
      background-color:white;
      border: 1px solid black;
      
    }
.navbar-brand{
	padding: 0px !important ;

}
a > h3{
	margin-top: 15px !important;
	margin-left: 40px !important;
	text-decoration-color: black !important;
}
section.container-fluid{
	border: 1px solid black;
	background:peachpuff;
	margin:40px;
	box-shadow: 5px 5px 5px 5px grey;

}
p{
	padding: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
   border: 1px solid black;
}

div.container-fluid{
	border: 1px solid black;
}
@media(max-width:578px){}
@media(min-width: @screen-xs-min){}
